body {
    margin: 0;
    padding-top: 70px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 32px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(39, 97%, 13%);
}

.logocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 32px; /* top rechts onder links*/
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 999;
    height: 70px;
    top: 0;
}

.logo {
    text-transform: uppercase;
    text-decoration:none;
    font-size: 45px;
    font-weight: 500;
    transition: 1s;
}

.logo:hover {
    color: hsl(325, 67%, 82%);
}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0px;

}

.nav-ul li a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 505;
    text-decoration: none;
    padding-left: 50px;
}

.nav-ul li a:hover {
   text-decoration: underline;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

.intro {
    display: flex;
}

.intro-left {
    min-width: 350px;
    max-width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-right: 8px;
}

.intro-right {
    min-width: 350px;
    max-width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 8px;
}

.new-blocks {
    display: flex;
}

.new-block {
    width: 33%;
    padding: 0px 8px 0px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    margin-right: 8px;
}

.new-block:nth-child(3) {
    margin-right: 0px;
}

.new-block img {
    max-width: 100%;
    height: auto;
}

.new-blog {
    position: relative;
    flex-direction: column;
}

footer {
   box-sizing: border-box;
   width: 100%;
    margin-top: 24px;
    padding: 16px 32px;
    border-top: 1px solid black;
}
.bottom {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 750px) {
    body {
        padding-top: 0px;
    }

    .intro {
        display: block;
    }
    .intro-left, .intro-right {
        min-width: auto;
        max-width: none;
        padding: 0px;
    }

    .new-blocks {
        flex-direction: column;
    }

    .new-block {
        min-width: auto;
        width: auto;
        margin-right: 0px;
        margin-bottom: 8px;
    }

    .logocontainer {
     display: block;
     position: relative;
     height: auto;

    }
    .nav-ul {
     display: block;
    }
    .nav-ul li a {
        padding: 0px;
    }
}